{% extends 'base/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Início{% endblock title %}

{% block content %}
    <div class="container py-4">
        <div class="bg-body-tertiary p-5 rounded">
            <h1 class="text-center">Olá, é bom te ver por aqui!</h1>
            <p class="lead text-center">Esta é a página inicial do software de Currículos da sala mineira de Cabo Verde.</p>
            <p class="lead text-center">
                Seja Bem vindo(a) 
                <strong>
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        Usuário Anônimo
                    {% endif %}
                </strong>
            </p>
        </div>
    </div>
{% endblock content %}